

.active{
  background-color: red;
  color: white;
  font-size: 20px;
}

.fa-check{
  color: blue;
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}

.fa-check:hover{
  transform: rotateZ(100deg);
  transition: all 1s linear;
}

.fa-trash{
  color: green;
  cursor: pointer;
  font-size: 20px;
}

form{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  padding: 2px;
  border: 1px solid red;
  width: 300px;
  height: 28px;
  border-radius: 10PX;
  font-size: 24px;
  font-weight: 500;
}

.btn{
  color: red;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.filter{
  color: red;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.btn:hover{
  background-color: red;
  color: white;
}

.text::placeholder{
  color: red;
  font-size: 20px;
  font-style: italic;
}

.Todolist{
  margin: 5px 0; 
}

.TODOS{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Todoitem{
  width: 400px;
  height: 30px;
  border: double red 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  font-size: 15px;
  border-radius: 10px;
  padding: 3px;
}

.App{
  position: relative;
  padding: 50px;
  width: 500px;
  margin: 100px auto; 

}

.App:hover{
  box-shadow: 0px 0px 10px red;
  transition: all 1s linear;
}

.complet{
  position: absolute;
  bottom: 25px;
  left: 10px;
  font-size: 30px;
  color: #333;
}

.clear{
  position: absolute;
  bottom: 25px;
  right: 10px;
  color: red;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
}

.Completed{
  padding: 3rem;
}